<!DOCTYPE html>
<html>
    <head>
        <title>Burning Bridges</title>
        <!-- <link rel = "stylesheet" href = "{{ url_for('static', filename = 'bridgestyle.css') }}"> -->
        <link rel = "stylesheet" href = "../static/bridgestyle.css">
    </head>

    <body>

        <div class="header">
            <h1 class = "header">Burning Bridges</h1>
        </div>

        <div class="rightcontent">
            <p></p>
        </div>

        <div class="leftcontent">

        </div>

    </body>
</html>