<!DOCTYPE html>
<html>
    <head>
        <title>Burning Bridges</title>
        <link rel = "stylesheet" href = "../static/bridgestyle.css">
    </head>

    <body>

        <div class="header">
            <h1>Burning Bridges</h1>
        </div>


        <div class="leftcontent">

            <div class="usericon">
                <img class = "usericon" src = "../static/default user pic.png">
            </div>

            <div class="description">
                <p class = "description">Choose a nickname</p>
                <form method = "POST" action = "{{ url_for('setup', code = code)">
                    <input class = "textinput" placeholder = "HighOnCortisol">
                    <input class = "submitbutton" type = "submit" value = "Join">
                </form>
            </div>
        </div>
        

    </body>
</html>